.visual{background: url(https://dambidam.cafe24.com/mobile/images/sub3/common/visualx2.jpg) center bottom no-repeat; background-size: cover;}
.sub_menu ul li{width: 50%;float: left;text-align: center;background-color: #fff;font-size: 1.1em;}

/* 콘텐츠 영역 */
#content .contentArea{width: 94%; margin:0 3% 0 3%}
#content .contentArea img{width: 100%; border-radius: 15px;}
#content h3{font-size: 1.5em;font-weight: 700;color: #023793;;margin-bottom: 25px;}

/* table */
#content .con2 table{width: 100%;border-spacing:0;}
#content .con2 table thead tr th{padding: 1px;font-size: 1.1em;border-top: 2px solid #023793;border-bottom:2px solid #023793;}
#content .con2 table thead tr:nth-of-type(2) th{border-top: 0;}

#content .con2 table tbody{}

#content .con2 table tbody tr td{border-bottom: 2px solid #88aae5;padding: 5px 0;text-align: center;}
#content .con2 table tbody tr:last-of-type td{border-bottom:2px solid #023793;}
#content .con2 table tbody tr:nth-of-type(2){color: red;}