
/* 회사 소개 인사말*/

.content_area{margin-top: 100px;margin-bottom: 250px;width: 1200px; position: relative;}
.content_area::after{content: ""; display: block; width: 2000px; height: 800px;
   background: #c8dcff; position: absolute; left:50%; margin-left: -1000px; top:440px; z-index: -1;}
.content_area .ceo_box{overflow: hidden;padding-bottom: 50px;}

.content_area .ceo_info{float: left;width: 500px;position: relative;}
.content_area .ceo_info>img{position: absolute;}
.content_area .ceo_info .career{background-color: #fff;position: relative;top: 650px;box-shadow: 2px 2px 10px 2px rgba(0,0,0,.6);padding: 30px;margin-left: 10px;border-radius: 20px;}
.content_area .ceo_info p{font-size: 1.875em;margin-bottom: 15px;}
.content_area .ceo_info dl{font-size: 1.125em;}
.content_area .ceo_info dt{font-size: 1.375em;color:  #023793;}
.content_area .ceo_info dd{}
.content_area .ceo_info span{font-weight: 700;}


.content_area .hello{float: right;width: 650px;}
.content_area .hello h3{font-size: 1.875em;color:  #023793;font-weight: 400;}
.content_area .hello p{text-align: justify;line-height: 1.7em; font-size: 1.1em;margin-bottom: 15px;}
.content_area .hello p:nth-of-type(1){padding-top: 525px;}
.content_area .hello p strong{color:  #023793;font-size: 1.875em;}